---
layout: default
---

<div class="home">

  <h1 class="page-heading">Updates</h1>

    {% for post in site.posts %}
        <div style="text-align: center;">
            <h2>
            {{ post.title }}
            </h2>
            <span class="post-meta" style="font-weight: bold;">{{ post.date | date: "%b %-d, %Y" }}</span>
        </div>
        <p>{{ post.content }}</p>
        <hr class="my-4">
    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
