<div class="container">
	<div class="jumbotron" style="text-align: center;">
  		<h1 class="display-4">James and Ella</h1>
		<h2>19th September 2020 at 2PM</h2>	
  		<p class="lead">James and Ella are getting married at <a href="http://www.highfieldschurch.org.uk/">Highfields Church, Cardiff</a>.</p>
  		<br/>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/448641032" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
		<hr class="my-4">
		<ul class="nav justify-content-center">
  			<li class="nav-item">
    				<a class="nav-link" href="https://www.amazon.co.uk/wedding/james-ashford-ella-boorman-cardiff-september-2020/registry/2TNKY67MD5Q6T">Gift List</a>
  			</li>
  			<li class="nav-item">
    				<a class="nav-link" href="https://player.vimeo.com/video/448641032">Livestream</a>
  			</li>
			<li class="nav-item">
    				<a class="nav-link" href="/order_of_service.pdf">Order of Service</a>
  			</li>
  			<li class="nav-item">
   				<a class="nav-link" href="http://www.highfieldschurch.org.uk/">Highfields Church</a>
  			</li>
		</ul>
		<hr class="my-4">
		<img src="jella.JPG" class="profile" alt="jella"/>
		<hr class="my-4">
	</div>